.container-fluid{
    margin-left: 160px;
    margin-right: 160px;
}
.container-fluid h3{
    text-align: center;
    font-size:32px;
    color: #000000;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
/*host steps*/

.hoststeps h4{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font: 'Montserrat', sans-serif;
    color: #000000;
    opacity: 1;
}
.hoststeps p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Muli', sans-serif;
    color: #000000;
    opacity: 1;
}
.hoststeps img{
    margin: auto;
    display: block;
    width: 121px;
    height: 121px;
}
/*payment steps*/

#payment{
    margin-top:40px;
}
.paymentsteps h4{
    margin-top:30px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font: 'Montserrat', sans-serif;
    color: #000000;
    opacity: 1;
}
.paymentsteps p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Muli', sans-serif;
    color: #000000;
    opacity: 1;
}
/*property manager*/

#propertymanager{
    margin-top:40px;
}
.propertytxt{
    display: inline-block;
    vertical-align: middle;
}
.propertytxt h3{
    text-align: center;
    font-size:32px;
    color: #000000;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.propertytxt p{
    text-align: center;
    font-size:16px;
    color: #000000;
    opacity: 1;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
.button{
    background-color: #5DB16A;
    border:none;
    color:white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 15px 32px;
    margin: auto;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
}
.button:hover{
    text-decoration: none;
    background-color: #579E62;
    color: white;
}